body {
  background-color: green;
  color: yellow;
  font-family: Arial, sans-serif;
  text-align: center;
}

.hand img {
  height: 100px;
  margin: 4px;
}

#center-area {
  margin: 10px;
}

#deck, #trump {
  height: 140px;
  margin: 10px;
}

#button-area button {
  margin: 5px;
  padding: 5px 15px;
}
